.filter {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 185px);
    border: 1px solid black;
    float: none;
    height: 100%;
    margin: auto;
    
    
}

.item {
    font-size: 1em;
    font-weight:700;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.colourCode {
    margin: auto;
    float: right;
    width: 20px;
    height: 23px;
}

.resetButton {
    margin: auto;
    border: 1px solid white;
    width: 50%;
}