.filter {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 185px);
    border: 1px solid black;
    float: none;
    height: 100%;
    margin: auto;
    
    
}

.item {
    font-size: 1em;
    font-weight:700;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.colourCode {
    margin: auto;
    float: right;
    width: 20px;
    height: 23px;
}

.resetButton {
    font-size: 1em;
    font-weight: 700;
    border: none;
    background-color: rgba(217, 215, 215, .5);
    height: 30px;
    width: 150px;
    border-radius: 5px;   
}

.resetButton:hover {
    background-color: rgba(217, 215, 215, 1);
}