.filterContainer {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.colourCode {
    margin-top: 5px;
    float:right;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.form-check {
    padding-bottom: 5px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    margin-bottom: 5px;
}

.resetButton {
    position: relative;
    font-size: 1em;
    font-weight: 700;
    border: none;
    background-color: rgba(217, 215, 215, .5);
    height: 30px;
    width: 150px;
    border-radius: 5px; 
    margin-bottom: 5px;  
}

.resetButton:hover {
    background-color: rgba(217, 215, 215, 1);
}